<div class="container-index">
    <div class="container-index-text">
        <div class="container-h1">
            <h1>Cinema Ironhack</h1>
        </div>
        <div class="container-btn">
            <button type="button" class="btn btn-light"><a class="btn" href="/movies">Check of Movies</a></button>
    </div>
</div>